@layer reset, theme, component;

@layer reset {
	*,
	*::before,
	*::after {
		box-sizing: border-box;
	}
	* {
		margin: 0;
	}
	:root {
		line-height: 1.5;

		font-synthesis: none;
		text-rendering: optimizeLegibility;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
	img,
	picture,
	video,
	canvas,
	svg {
		display: block;
		max-width: 100%;
	}
	input,
	button,
	textarea,
	select {
		font: inherit;
	}
	p,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		overflow-wrap: break-word;
	}
}

@layer theme {
	:root {
		--accent: hsl(120, 66%, 25%);
		--accent-1: color-mix(in srgb, Canvas 25%, var(--accent));
		--accent-2: color-mix(in srgb, Canvas 33%, var(--accent));

		font-family: system-ui, sans-serif;

		color: CanvasText;
		background-color: Canvas;
	}
	a {
		color: var(--accent);
	}
	a:hover {
		color: var(--accent-1);
	}
	button {
		color: Canvas;
		background-color: var(--accent);
	}
	button:hover {
		background-color: var(--accent-1);
	}
}

@layer component {

}
